{% extends 'PricePredictor/basic.html' %}
{% block title%}Contact- Car Price Predictor{% endblock %}
{% block css %}
.container1 {
height:92vh;
}
.link-container{
text-align: center;
}
h4 {
  text-shadow: 1px 1px #FF0909;
}
p{
 text-shadow: 1px 1px #FF0909;
{% endblock %}

{% block body %}
{% load static %}

 <div class="container1 w-100  my-0" style='background-image: url("{% static "PricePredictor/contactpage.jpg" %}");'>

      <!-- Image and name container. Change to your pictue here. -->
      <div style="text-align: center">
        <img src='{% static "PricePredictor/Untitled4_20220119190119.png" %}' class="w3-margin" alt="image" width="150px" height="150px" style="border-radius: 50%;">
        <p><span class="name " style="font-weight: bolder; color:#FFFFFF">Hi, I'm Akash!</span></p>
        <p style="font-weight: bolder; color:#FFFFFF;">Check out my links!</p>
      </div>

      <!-- Links section 1. Replace the # inside of the "" with your links. -->
      <h4 class="margin-top-2" style="text-align: center; color:#FFFFFF;">MY SOCIAL NETWORKS</h4>
      <div class="link-container">
        <a href="https://www.linkedin.com/in/akash-3268301a9/" target="_blank"><button class="mt-4 w-25 btn btn-primary btn-lg "  type="button">LinkedIn</button></a>
        <br>
        <a href="https://github.com/psychoAKASH" target="_blank"><button class="mb-4 mt-4 w-25 pl-4 btn btn-primary btn-lg" type="button">Github</button></a>
        <br>
        <a href="https://instagram.com/the_notorious_wizard_?igshid=YmMyMTA2M2Y=" target="_blank"><button class="btn w-25 btn-primary btn-lg" type="button">Instagram</button></a>
          <br>


      </div>




    </div>






{% endblock %}
{% block js %}

{% endblock %}